<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="body">

  <xacro:macro name="openarm_body" params="body_type body_inertials gazebo:=false description_pkg:=openarm_description">

    <material name="dark_gray">
      <color rgba="0.2 0.2 0.2 1.0"/>
    </material>

    <link name="pedestal_v1_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://openarm_description/meshes/body/v10/v10_body.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="dark_gray"/>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://openarm_description/meshes/body/v10/v10_body.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>

      <inertial>
        <origin xyz="-0.019032202985360066 0.0002140713683395199 0.3878296171161416" rpy="0 0 0"/>
        <mass value="13.892221893766356"/>
        <inertia ixx="1.653382" iyy="1.653298" izz="0.051334" ixy="5e-06" iyz="0.000118" ixz="-0.085852"/>
      </inertial>
    </link>

  </xacro:macro>

</robot>
