<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="openarm_robot"
    params="arm_type
            joint_limits
            kinematics
            kinematics_link
            kinematics_offset
            inertials
            body_type
            body_inertials
            body_kinematics
            body_kinematics_link
            ee_kinematics_link
            parent:='world'
            xyz:='0 0 0'
            rpy:='0 0 0'
            xyz_ee='0 0 0'
            xyz_rpy='0 0 0'
            tcp_xyz='0 0 0'
            tcp_rpy='0 0 0'
            hand:='true'
            ee_type:=none
            gazebo:='false'
            ros2_control:=false
            can:=''
            use_fake_hardware:=false
            fake_sensor_commands:=false
            gazebo_effort:=false
            no_prefix:='false'
            arm_prefix:=''
            body_prefix:=''
            arm_connected_to='base'
            body_connected_to='world'
            bimanual:=true
            right_arm_base_xyz='0 0 0'
            left_arm_base_xyz='0 0 0'
            right_arm_base_rpy='0 0 0'
            left_arm_base_rpy='0 0 0' "
            >

    <xacro:include filename="$(find openarm_description)/urdf/arm/openarm_macro.xacro" />
    <xacro:include filename="$(find openarm_description)/urdf/arm/openarm_arm.xacro" />
    <xacro:include filename="$(find openarm_description)/urdf/body/openarm_body_macro.xacro" />  
    <xacro:include filename="$(find openarm_description)/urdf/body/openarm_body.xacro" />  
    <xacro:include filename="$(find openarm_description)/urdf/ee/openarm_hand.xacro" />
    <xacro:include filename="$(find openarm_description)/urdf/ee/openarm_hand_macro.xacro" />
    <xacro:include filename="$(find openarm_description)/urdf/ee/${ee_type}_arguments.xacro" />
    <xacro:include filename="$(find openarm_description)/urdf/ros2_control/openarm.ros2_control.xacro" />

    <xacro:property name="arm_prefix_modified" value="${'' if arm_prefix == '' else arm_prefix + '_'}" />
    <xacro:property name="body_prefix_modified" value="${'' if body_prefix == '' else body_prefix + '_'}" />

    <xacro:if value="${bimanual}">

        <xacro:openarm_body 
        body_type="${body_type}"
        body_prefix="${body_prefix_modified}"
        no_prefix="${no_prefix}"
        description_pkg="openarm_description"
        connected_to="${body_connected_to}"
        xyz="${xyz}"
        rpy="${rpy}"
        gazebo="${gazebo}"
        inertials="${body_inertials}"
        kinematics="${body_kinematics}"
        kinematics_link="${body_kinematics_link}" />

        <!-- left arm -->
        <xacro:openarm_arm 
        arm_type="${arm_type}"
        arm_prefix="left_"
        no_prefix="false"
        description_pkg="openarm_description"
        connected_to="${body_type}_body_link0"
        xyz="${left_arm_base_xyz}"
        rpy="${left_arm_base_rpy}"
        gazebo="${gazebo}"
        joint_limits="${joint_limits}"
        inertials="${inertials}"
        kinematics="${kinematics}"
        kinematics_link="${kinematics_link}"
        kinematics_offset="${kinematics_offset}" />

        <xacro:if value="${ros2_control}">
        <xacro:openarm_arm_ros2_control
        arm_type="${arm_type}"
        arm_prefix="left_"
        can="can1"
        use_fake_hardware="${use_fake_hardware}"
        fake_sensor_commands="${fake_sensor_commands}"
        gazebo="${gazebo}"
        gazebo_effort="${gazebo_effort}"
        hand="${hand}"
        bimanual="true"
        />
       </xacro:if>

        <!-- right arm -->
        <xacro:openarm_arm 
        arm_type="${arm_type}"
        arm_prefix="right_"
        no_prefix="false"
        description_pkg="openarm_description"
        connected_to="${body_type}_body_link0"
        xyz="${right_arm_base_xyz}"
        rpy="${right_arm_base_rpy}"
        gazebo="${gazebo}"
        joint_limits="${joint_limits}"
        inertials="${inertials}"
        kinematics="${kinematics}"
        kinematics_link="${kinematics_link}"
        kinematics_offset="${kinematics_offset}" />

        <xacro:if value="${ros2_control}">
            <xacro:openarm_arm_ros2_control
            arm_type="${arm_type}"
            arm_prefix="right_"
            can="can0"
            use_fake_hardware="${use_fake_hardware}"
            fake_sensor_commands="${fake_sensor_commands}"
            gazebo="${gazebo}"
            gazebo_effort="${gazebo_effort}"
            hand="${hand}"
            bimanual="true"/>
        </xacro:if>

        <xacro:if value="${hand and ee_type == 'openarm_hand'}">
            <xacro:openarm_hand
                connected_to="openarm_left_link8"
                arm_type="${arm_type}"
                arm_prefix="left_"
                ee_type="${ee_type}"
                ee_kinematics_link="${xacro.load_yaml('$(find openarm_description)/config/hand/openarm_hand/kinematics_link.yaml')}"
                ee_inertials="${xacro.load_yaml('$(find openarm_description)/config/hand/openarm_hand/inertials.yaml')}"
                rpy_ee="$(arg rpy_ee)"
                xyz_ee="$(arg xyz_ee)"
                tcp_xyz="$(arg tcp_xyz)"
                tcp_rpy="$(arg tcp_rpy)"
                gazebo="${gazebo}"
                description_pkg="$(arg description_pkg)"
            />
            <xacro:openarm_hand
                connected_to="openarm_right_link8"
                arm_type="${arm_type}"
                arm_prefix="right_"
                ee_type="${ee_type}"
                ee_kinematics_link="${xacro.load_yaml('$(find openarm_description)/config/hand/openarm_hand/kinematics_link.yaml')}"
                ee_inertials="${xacro.load_yaml('$(find openarm_description)/config/hand/openarm_hand/inertials.yaml')}"
                rpy_ee="$(arg rpy_ee)"
                xyz_ee="$(arg xyz_ee)"
                tcp_xyz="$(arg tcp_xyz)"
                tcp_rpy="$(arg tcp_rpy)"
                gazebo="${gazebo}"
                description_pkg="$(arg description_pkg)"
            />
          </xacro:if>
    </xacro:if>

    <xacro:if value="${not bimanual}">
        
        <xacro:openarm_arm
        arm_type="${arm_type}"
        arm_prefix="${arm_prefix_modified}"
        no_prefix="${no_prefix}"
        xyz="${xyz}"
        rpy="${rpy}"
        gazebo="${gazebo}"
        joint_limits="${joint_limits}"
        kinematics="${kinematics}"
        kinematics_link="${kinematics_link}"
        inertials="${inertials}"
        connected_to=""
        />

        <xacro:if value="${ros2_control}">

        <xacro:openarm_arm_ros2_control
            arm_type="${arm_type}"
            arm_prefix="${arm_prefix_modified}"
            can="${can}"
            use_fake_hardware="${use_fake_hardware}"
            fake_sensor_commands="${fake_sensor_commands}"
            gazebo="${gazebo}"
            gazebo_effort="${gazebo_effort}"
            hand="${hand}"
            bimanual="false"/>
        </xacro:if>

        <xacro:if value="${hand and ee_type == 'openarm_hand'}">

        <xacro:property name="special_connection" value="$(arg special_connection)" />
        <!-- <xacro:property name="connection" value="${special_connection if special_connection != '' else arm_type + '_link8'}" /> -->
        <xacro:property name="connection" value="${special_connection if special_connection != '' else 'openarm' + '_link8'}" />

        <xacro:openarm_hand
            connected_to="${arm_prefix_modified}${connection}"
            arm_type="${arm_type}"
            arm_prefix="${arm_prefix_modified}"
            ee_type="${ee_type}"
            ee_kinematics_link="${xacro.load_yaml('$(find openarm_description)/config/hand/openarm_hand/kinematics_link.yaml')}"
            ee_inertials="${xacro.load_yaml('$(find openarm_description)/config/hand/openarm_hand/inertials.yaml')}"
            rpy_ee="$(arg rpy_ee)"
            xyz_ee="$(arg xyz_ee)"
            tcp_xyz="$(arg tcp_xyz)"
            tcp_rpy="$(arg tcp_rpy)"
            gazebo="${gazebo}"
            description_pkg="$(arg description_pkg)"/>
        </xacro:if>

        <!-- <xacro:if value="${hand and ee_type != 'none' and ee_type != 'openarm_hand'}">
        <xacro:property name="special_connection" value="$(arg special_connection)" />
        <xacro:property name="connection" value="${special_connection if special_connection == '' else arm_type + '_link8'}" />
        <xacro:ee_with_one_link
            connected_to="${arm_prefix_modified}${connection}"
            arm_type="${arm_type}"
            arm_prefix="${arm_prefix_modified}"
            ee_type="${ee_type}"
            ee_inertials="${xacro.load_yaml('$(find openarm_description)/config/hand/$(arg ee_type)_inertials.yaml')}"
            ee_kinematics_link="${xacro.load_yaml('$(find openarm_description)/config/hand/openarm_hand/kinematics_link.yaml')}"
            rpy_ee="$(arg rpy_ee)"
            xyz_ee="$(arg xyz_ee)"
            tcp_xyz="$(arg tcp_xyz)"
            tcp_rpy="$(arg tcp_rpy)"
            gazebo="${gazebo}"
            description_pkg="$(arg description_pkg)"
        />
        </xacro:if> -->

        </xacro:if>


        <!-- <xacro:if value="${gazebo}">
        <xacro:if value="${parent != ''}">
            <xacro:if value="${parent == 'world'}">
            <link name="${parent}" />
            </xacro:if>
            <joint name="${parent}_joint" type="fixed">
            <origin xyz="${xyz}" rpy="${rpy}" />
            <parent link="${parent}" />
            <child  link="${arm_type}_link0" />
            </joint>
        </xacro:if> -->

        <!-- <xacro:gazebo-joint joint="${arm_type}_joint1" transmission="hardware_interface/PositionJointInterface" />
        <xacro:gazebo-joint joint="${arm_type}_joint2" transmission="hardware_interface/PositionJointInterface" />
        <xacro:gazebo-joint joint="${arm_type}_joint3" transmission="hardware_interface/PositionJointInterface" />
        <xacro:gazebo-joint joint="${arm_type}_joint4" transmission="hardware_interface/PositionJointInterface" />
        <xacro:gazebo-joint joint="${arm_type}_joint5" transmission="hardware_interface/PositionJointInterface" />
        <xacro:gazebo-joint joint="${arm_type}_joint6" transmission="hardware_interface/PositionJointInterface" />
        <xacro:gazebo-joint joint="${arm_type}_joint7" transmission="hardware_interface/PositionJointInterface" />

        <xacro:gazebo-joint joint="${arm_type}_joint1" transmission="hardware_interface/VelocityJointInterface" />
        <xacro:gazebo-joint joint="${arm_type}_joint2" transmission="hardware_interface/VelocityJointInterface" />
        <xacro:gazebo-joint joint="${arm_type}_joint3" transmission="hardware_interface/VelocityJointInterface" />
        <xacro:gazebo-joint joint="${arm_type}_joint4" transmission="hardware_interface/VelocityJointInterface" />
        <xacro:gazebo-joint joint="${arm_type}_joint5" transmission="hardware_interface/VelocityJointInterface" />
        <xacro:gazebo-joint joint="${arm_type}_joint6" transmission="hardware_interface/VelocityJointInterface" />
        <xacro:gazebo-joint joint="${arm_type}_joint7" transmission="hardware_interface/VelocityJointInterface" />

        <xacro:gazebo-joint joint="${arm_type}_joint1" transmission="hardware_interface/EffortJointInterface" />
        <xacro:gazebo-joint joint="${arm_type}_joint2" transmission="hardware_interface/EffortJointInterface" />
        <xacro:gazebo-joint joint="${arm_type}_joint3" transmission="hardware_interface/EffortJointInterface" />
        <xacro:gazebo-joint joint="${arm_type}_joint4" transmission="hardware_interface/EffortJointInterface" />
        <xacro:gazebo-joint joint="${arm_type}_joint5" transmission="hardware_interface/EffortJointInterface" />
        <xacro:gazebo-joint joint="${arm_type}_joint6" transmission="hardware_interface/EffortJointInterface" />
        <xacro:gazebo-joint joint="${arm_type}_joint7" transmission="hardware_interface/EffortJointInterface" />  -->

        <!-- <xacro:transmission-openarm-state arm_type="${arm_type}" />
        <xacro:transmission-openarm-model arm_type="${arm_type}"
            root="${arm_type}_joint1"
            tip="${arm_type}_joint8"
        /> -->

        <!-- <xacro:if value="${ee_type == 'openarm_hand'}">
            <xacro:gazebo-joint joint="${arm_type}_finger_joint1" transmission="hardware_interface/EffortJointInterface" />
            <xacro:gazebo-joint joint="${arm_type}_finger_joint2" transmission="hardware_interface/EffortJointInterface" />
            <xacro:gazebo-friction link="${arm_type}_leftfinger" mu="1.13" />
            <xacro:gazebo-friction link="${arm_type}_rightfinger" mu="1.13" />
        </xacro:if>
        </xacro:if> -->

  </xacro:macro>
</robot>